@charset "utf-8";
/* CSS Document */
body {
	width:800px;
	margin:auto;
	font-family: 'Roboto', sans-serif;
	}
header {
height:200px;
background-image: url(http://wasahockey.github.io/Mangravite/images/JHmute.gif)
}
/* main navigation bar */
#navigation {
	margin:0px;
	padding-top:6px;
	background-color: #7d8e9a;
	height:27px;
	width:75%;
	text-transform:uppercase;
}
#navigation a {
	text-decoration:none;
	color:#CCCC99;
}
#navigation ul {
	margin:0;
	padding:0;
}
#navigation li {
	list-style-type:none;
	display:inline;
	padding-right:15px;
}
.locate {
	background-color: #274257;
	padding: 6px 10px 5px 10px;
	font-weight:bold;
}
#navigation a.locate {
	color: #FFCC33;
}
/* second level of navigation */
#secondnav {
	margin:0px;
	height:27px;
	text-transform:uppercase;
	padding-left:8px;
	padding-top:5px;
}
#secondnav a {
	text-decoration:none;
	color:#7d8e9a;
}
#secondnav ul {
	margin:0;
	padding:0;
}
#secondnav li {
	list-style-type:none;
	display:inline;
	padding-right:10px;
}
#secondnav a.city {
	font-size: 30px;
	color:#ffcc33;
	vertical-align:top;
}
/* body background */
#blue{
	background-image:url(file:///C|/Users/Wasa%20DZ/Documents/GitHub/wasahockey.github.com/Mangravite/images/tile.gif);
	background-color:#274257;
	background-repeat:repeat-x;
	margin-top:30px;
}
.content {
	width: 65%;
	background-color:#FFFFFF;
	margin-left:240px;
	padding-left:10px;
	clear:both;
}
/* copy */
p {
font-family: 'Noto Sans', sans-serif;
line-height:1.5em;
font-size:14px;
}
h1 {
text-transform:uppercase;
font-weight:500;
color:#ffcc33;
padding-top:0;
}
h2 {
text-transform:uppercase;
font-weight:normal;
color:#274257;
padding-top:0;
}
/* footer */
#copyright {
	background-color:#8F6048;
	height:100px;
	clear:both;
}
#copyright p{
font-size:12px;
color:#CCCC99;
text-align:center;
padding:15px;
}