@charset "utf-8";
/* CSS Document */
body {
	width:950px;
	margin:auto;
	height:100%;
	font-family: 'Roboto', sans-serif;
	}
header img { /*places the logo on the header*/
	float:right;
	width:50%;
	border:0;
	padding-right:15px;
	margin-top:46px;
}
/* main navigation bar */
#navigation {
	margin:0px;
	padding-top:6px;
	background-color: #7d8e9a;
	height:26px;
	width:75%;
	text-transform:uppercase;
	border-bottom: 2px solid #8F6048;
}
#navigation a {
	text-decoration:none;
	color:#CCCC99;
}
#navigation a.locate {
	color: #FFCC33;
}
#navigation ul {
	margin:0;
	padding:0;
}
#navigation li {
	list-style-type:none;
	display:inline;
	padding-right:15px;
}
.locate {
	background-color: #274257;
	padding: 6px 10px 5px 10px;
	font-weight:bold;
}
/* second level of navigation */
#secondnav {
	margin:0px;
	height:27px;
	text-transform:uppercase;
	padding-left:8px;
	padding-top:5px;
}
#secondnav a {
	text-decoration:none;
	color:#7d8e9a;
}
#secondnav a.city {
	font-size: 30px;
	color:#ffcc33;
	vertical-align:top;
}
#secondnav ul {
	margin:0;
	padding:0;
}
#secondnav li {
	list-style-type:none;
	display:inline;
	padding-right:10px;
}
/* body background */
#order{ /*div that contains everything other than the header, navigation and footer*/
	margin-top:20px;
}
#blue{ /*the blue background*/
	overflow:hidden;
	zoom:1;	
	width:950px;
	background:#274257 url(http://wasahockey.github.io/Mangravite/images/tile.gif) repeat-x;
}
/* text boxes */
#contentSub {
	width: 60%;
	background-color:#FFFFFF;
	float:right;
	margin-right:20px;
	padding: 10px;
	min-height:400px;
	font-size:12px;
}
#contentSub a {
text-decoration:none;
color: #274257;
}
#contentSub h3 a {
text-decoration:none;
color: #274257;
font-weight:bold;
}
#contentSub h3 a:hover {
color:#ffcc33;
}
/*image box*/
.photos {
	width:30%;
	float:left;
	margin-left:20px;
	margin-top: 60px;
	text-align:center;
}
.photos p {
	color:#CCCC99;
	font-size:10px;
}
.photos a{
	text-decoration:none;
	color:#FFCC33;
}
.insert { 
	overflow: inherit;
	width:50%;
	float:left;
	margin-left:-150px;
	margin-right: 10px;
	border: #7d8e9a thick solid;
	background-color:#CCCC99;
	padding:10px;
}
.insert p {
font-size:10px;}
/* copy */
p {
font-family: 'Noto Sans', sans-serif;
line-height:1.5em;
font-size:14px;
}
img {
	width:90%;
	border:thin solid #FFCC33;
}
h1 {
text-transform:uppercase;
font-weight:500;
color:#ffcc33;
margin:0;
margin-top:-18px;
}
h2 {
text-transform:uppercase;
font-weight:normal;
color:#274257;
padding-top:0;
margin-bottom:-10px;
}
h3 {
text-transform:uppercase;
font-weight:normal;
color:#274257;
font-weight:300;
margin:0;
}
#contentSub ul{
font-size:14px;
line-height:2em;
padding-left:15px;
list-style: none;
}
#contentSub li{
    padding-left: 2px; 
    text-indent: -.7em;
}
sup {
	vertical-align: top;
	position: relative; 
	top: -0.4em;
	font-size:11px;
	}
sup a{
	color: #ffcc33;
	font-weight:bold;
	text-decoration:none;
	}
blockquote {
	margin:25px;
	font-family: 'Noto Sans', sans-serif;
	font-variant:small-caps;
	text-align:center;
	font-size:16px;
	color:#8F6048;
	}
/*footnote*/
#footnote {
	font-family: 'Noto Sans', sans-serif;
	font-size:14px;
	margin-left: -20px;
}
#footnote ol { 
	font-family:'Noto Sans', sans-serif; 
	font-size:18px;
	}
#footnote ol li {
	padding-bottom:5px;
	color:ffcc33;
	text-indent: 0;
	}
#footnote ol li p {
	color:black;
	}
#footnote a{
	text-decoration:none;
	color:#ffcc33;
	vertical-align: top;
	position: relative; 
	top: -0.2em;
	padding-left:8px;
}      
#footnote h3 {
	font-family: 'Noto Sans', sans-serif;
	font-weight:300;
	margin-left: 20px;
}
/* footer */
footer {
	background-color:#8F6048;
	height:100px;
	margin-top:15px;
}
footer p{
font-size:12px;
color:#CCCC99;
text-align:center;
padding:15px;
}