@charset "utf-8";
/* CSS Document */
html {
	background-color: #446365;
	}
body {
	width:75%;
	margin:auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	}
a {
	color: #446365;
	text-decoration:none;
}
h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size:24px;
	text-align:center;
	background-color:#000000;
	color:#FFFFFF;
	padding:10px;
	}
#navigation {
	margin:5px 0px;
	padding:0px;
	float:right;
	font-size:14px;
	color:#d64e02;
	}
#navigation a {
	text-decoration:none;
	color:#d09a2d;
}
#content {
	clear:both;
	min-width: 700px;
	background-color: #000000;
}
img {
	width:100%;
	}
.description {
	background-color: #d09a2d;
	border: #000 thin solid;
	width:71%;
	min-height:248px;
	float:left;
	margin-bottom:10px;
	padding: 4px 10px 5px 10px;
	line-height: 1.35em;
	}
.pages {
	width: 24%;
	height:62px;
	float:right;
	background-color: #d64e02;
	border: #000 thin solid;
	color:#FFFFFF;
	font-weight:bold;
	padding: 18px 0px 0px 10px;
	margin-bottom: 6px;
	}
.pages a{
	text-decoration:none;
	color:#FFFFFF;
	}
#footer {
	clear:both;
	text-align:center;
	color:#d64e02;
	padding:5px;
	}
#footer a{
	text-decoration:none;
	color:#d09a2d;
	}
#copyright {
	margin-top: 30px;
	color:#999999;
	font-size:xx-small;
	padding:30px;
	text-align:center;
	clear:both;
}
#copyright img {
	width:10%;
}
#copyright a {
	text-decoration:none;
	color:#999999;
	font-size:xx-small;
}
